{% extends 'dashboardlayout.html' %}
{% from 'macros.html' import offerCard, offerDetailsModal %}

{% block title %}LendABuck{% endblock %}

{% block meta %}
{% endblock %}

{% block css %}
    <link type="text/css" href="{{ url_for('static', filename="css/requestDetails.css") }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Request Details</span>
                        <hr class="star-light">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section class="" id="requestDetails">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="row">
                        <div class="col-md-12">

                            <p class="text-center text-success displayAmount">{{ "$%.2f"|format(requestWithDetails.AmountNeeded) }}</p>

                            <blockquote>
                                <p class="text-justify text-center text-capitalize">
                                    "{{ requestWithDetails.ReasonNeeded }}"
                                </p>
                                <footer class="text-muted">
                                    <span class="lead">
                                        {{ requestWithDetails.displayName }}
                                    </span>
                                    on {{ requestWithDetails.InsertDate.strftime('%m-%d-%Y') }}
                                </footer>
                            </blockquote>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                <tr></tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>ExpectedPaybackDays</td>
                                    <td>{{ requestWithDetails.ExpectedPaybackDays }}</td>
                                </tr>
                                <tr>
                                    <td>RequestExpiration</td>
                                    <td>{{ requestWithDetails.RequestExpiration }}</td>
                                </tr>
                                <tr>
                                    <td>MoneyFromInterestToLender</td>
                                    <td>{{ requestWithDetails.MoneyFromInterestToLender }}</td>
                                </tr>
                                <tr>
                                    <td>TotalBackToLender</td>
                                    <td>{{ requestWithDetails.TotalBackToLender }}</td>
                                </tr>
                                <tr>
                                    <td>PlatformFee</td>
                                    <td>{{ requestWithDetails.PlatformFee }}</td>
                                </tr>
                                <tr>
                                    <td>TransferFees</td>
                                    <td>{{ requestWithDetails.TransferFees }}</td>
                                </tr>
                                <tr>
                                    <td>TotalOwedBack</td>
                                    <td>{{ requestWithDetails.TotalOwedBack }}</td>
                                </tr>
                                <tr>
                                    <td>MaxInterest</td>
                                    <td>{{ requestWithDetails.MaxInterest }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Offer Section -->
    <section class="success" id="requestOffers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Request Offers</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                {% for offer in requestWithDetails['Offers'] %}
                    {{ offerCard(offer) }}
                {% endfor %}
            </div>
        </div>
    </section>


    {% if g.user.displayname != requestWithDetails.displayName %}
        <!-- Offer Section -->
        <section class="" id="makeOffer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Make An Offer</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 text-center">
                            <h3><i class="fa fa-usd"></i><span class="currentOfferAmount"></span></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                            <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                            <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                            <form name="makeOfferForm" method="POST" class="offerForm"
                                  action="{{ url_for('submit_offer') }}" novalidate>

                                <input class="hide currentPercent" name="currentPercent"
                                       value="{{ requestWithDetails.MaxInterest }}"/>
                                <input class="hide currentAmountNeeded" name="currentAmountNeeded"
                                       value="{{ requestWithDetails.AmountNeeded }}"/>
                                <input class="hide currentPlatformFee" name="currentPlatformFee"
                                       value="{{ requestWithDetails.PlatformFee }}"/>
                                <input class="hide currentTransferFee" name="currentTransferFee"
                                       value="{{ requestWithDetails.TransferFees }}"/>
                                <input class="hide currentRequestID" name="currentRequestID"
                                       value="{{ requestWithDetails.ID }}"/>

                                <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls">
                                        <label>Percent</label>
                                        <input id="ex6" name="InterestRate" class="slider" type="text"
                                               data-slider-min="0"
                                               data-slider-max="{{ requestWithDetails.MaxInterest * 100 }}"
                                               data-slider-step="1" data-slider-value="0"/>

                                        <div class="row">
                                            <div class="col-md-12 col-xs-12 text-center">
                                                <h4 id="ex6CurrentSliderValLabel"> Interest: <span
                                                        class="sliderVal" name="InterestVal"
                                                        id="ex6SliderVal">0</span>%
                                                </h4>
                                            </div>
                                        </div>


                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls">
                                        <label>Payback Days</label>
                                        <input type="number" class="form-control paybackDays"
                                               placeholder="Payback Days"
                                               id="paybackDays"
                                               name="paybackDays"
                                               required
                                               data-validation-required-message="Please enter your payback days.">

                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>

                                <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls">
                                        <label>Message</label>
                                            <textarea rows="3" class="form-control message" placeholder="Message"
                                                      name="message"
                                                      id="message"
                                                      required
                                                      data-validation-required-message="Please enter a message."></textarea>

                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <br>

                                <div id="success"></div>
                                <div class="row">
                                    <div class="form-group col-xs-12 text-center">
                                        <button type="submit"
                                                class="btn btn-dark-outline btn-lg submitOfferFormBtn" id="submitOfferFormBtn">
                                            Send
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% for offer in requestWithDetails['Offers'] %}
        {{ offerDetailsModal(offer, requestWithDetails.displayName) }}
    {% endfor %}

{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/requestDetails.js') }}"></script>
{% endblock %}
